*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  --webkit-font-smoothing:antialiased;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

html {
  font-family: 'Roboto',sans-serif;
  line-height: 1.5;
  color:#ebe7ef;
  background: radial-gradient(#280a48, #20043d);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  min-height: 80rem;
}

header{
  text-align:center;
  margin: 3rem 0;
}



header img{
  width:5rem;
  height:10rem;
  object-fit: cover;
}

header h1{
  margin:0;
  font-size:3rem;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
}

header p{
  padding:0 1rem;
  font-size:1.25rem;
}
main{
 width:90%;
 max-width: 50rem;
  margin:  auto;
}

main h2{
  text-align:center;
  color:#a18aba;
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(40deg,#864AF9,#FF9BD2,#FF9843);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 /* user 
#user {
  background-color:rgb(239, 232, 232);
  height:8rem;
  display:flex;
  justify-content: center;
  align-items:center;
  width:30%;
  min-width: 60%;
  margin:auto;
  margin-top: 2rem;
  padding:re.5rem;
  border-radius:1rem;
  -webkit-border-radius:1rem;
  -moz-border-radius:1rem;
  -ms-border-radius:1rem;
  -o-border-radius:1rem;
  box-shadow:1px 1px 4px 1px #a89292;
}

#user  h2{
  color:rgb(2, 1, 1);
  font-size:1.25rem;
  text-align:center;
  text-transform:uppercase;
} 

@media screen and (max-width:768px) {
  #user{
    width: 90%;
  }
  #user  h2{
    font-size:1rem;
    
  } 
} */